body {
    background-color:rgb(228, 247, 247);
    margin: 0;
    font-family: sans-serif;
    font-size: 15px;
    color:rgb(19, 58, 72);
}

/*--header--*/
header {
    width: 100%;
}

header .list {
    background-color: rgb(91, 150, 239);
    padding: 0 2em;
    height: 100px;
}

header .logo {
    width: 80px;
    margin-left: 0;
}

header .logo img{
    border-radius: 10px;
}

ul{
    display: flex;
}

.list{
    font-weight: 900;
}

.list li{
    display: flex;
    flex: 0 1 auto;
    align-items: center;
    vertical-align: middle;
    margin: 20px 0;
    list-style: none;
}

.list h1{
    margin-left: 20px;
}

/*--contacts--*/
.contacts{
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

.contacts a{
    text-decoration: none;
    color:  rgb(19, 58, 72);
}

.contacts .icons ul{
    display: flex;
    justify-content: space-between;
}

.order{
    font-weight: 900;
}

.order li{
    display: flex;
    flex: 0 1 auto;
    align-items: center;
    vertical-align: middle;
    list-style: none;
}

.order li{
    padding: 10px 20px;
    border: 2px solid rgb(19, 58, 72);
    border-radius: 10px;
}

.order li a{
    color: rgb(19, 58, 72);
    text-decoration: none;
}

.order li:hover{
    background-color: rgb(158, 189, 243);
    cursor: pointer;
}

.order .fb::before{
    content: "\f09a";
    vertical-align: middle;
    font-family: "Font Awesome 6 Free";
    color: rgb(19, 58, 72);
}

.order .inst::before{
    content: "\f16d";
    vertical-align: middle;
    font-family: "Font Awesome 6 Free";
    color: rgb(19, 58, 72);
}
.order .tw::before{
    content: "\f099";
    vertical-align: middle;
    font-family: "Font Awesome 6 Free";
    color: rgb(19, 58, 72);
}
.order .google::before{
    content: "\f1a0";
    vertical-align: middle;
    font-family: "Font Awesome 6 Free";
    color: rgb(19, 58, 72);
}

.order .whatsapp::before{
    content: "\f232";
    vertical-align: middle;
    font-family: "Font Awesome 6 Free";
    color: rgb(19, 58, 72);

}/*--wallpaper--*/
.button{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.button > div{
    flex: 1 1 0%;
    background-color: rgb(228, 247, 247);
}

.wallpaper img{
    height: 100vh;
    width: 100%;
    position: absolute;
}

.wallpaper .first h1{
    margin-left: 10%;
    margin-top: 10%;
    width: 40%;
}

.wallpaper .second h1{
    margin-left: 35%;
    margin-top: 10%;
    width: 40%;
}

.wallpaper a{
    position: relative;
    text-decoration: none;
    text-align: center;
}

.wallpaper h1{
    color:  rgb(19, 58, 72);
    border: 2px solid rgb(19, 58, 72);
    background-color: rgb(91, 150, 239);
    border-radius: 10px;
    padding: 20px 40px;
}

.wallpaper h1:hover{
    background-color: rgb(158, 189, 243);
    cursor: pointer;
}